*{
  box-sizing: border-box;
}
header{
  background-color: lightcyan;
  text-align: center;
  height: 39vh; 
  width: 100vw; 
}

.middle-section {
 display: flex; 
}

aside {
  background-color: lightseagreen; 
  display: flex; 
  flex-direction: column;
  width: 30vw; 
  height: 80vh; 
}

.image-section{
  background-color: aliceblue;
  text-align: left; 
  display: flex; 
  justify-content:flex-start;
  align-items: flex-start; 
  flex-direction: column; 
  
}

footer{
  background-color: lime;
  height: 20vh; 
}